
a{font-family:sans-serif;
}

footer
{
padding-top: 1em;

background-color:rgb(120, 163, 192);

}
h5{color:darkslategray}

p{color:whitesmoke;}
i{color:white;}
.id
{color:black;
 letter-spacing:1.2px;
 font-weight: 500;
font-size:20px}
.btn{font-weight:bolder;}

.nav-link{font-size:22px ;
font-weight: bold;}
.container-fluid1,.card
{background-attachment:fixed; 
    background-repeat:no-repeat;
    background-position: fixed;
    
}

.container-fluid1 {border-top: 20px;

    padding:100px 190px 180px 190px;
    background-attachment:fixed;
       background-position:cover;
       background-repeat:no-repeat;
       background-image:url(images/network-4556932.jpg);


}


.container-fluid {
   
    padding:70px 80px 70px 80px;
   height:550px;
   background-color:rgb(120, 163, 192);
   background-attachment:fixed;
   background-position:cover;
   background-repeat:no-repeat;
}

.mt-2{font-size:20px;
font-weight:bold;}

h1{ font-size:2.5rem;}
h1,h3,h5{
     letter-spacing :3px;
    font-weight: bolder;}
h3{color:white;}
h1{color:black;}
.card{

padding: 20px 50px 20px 50px;
}





@media(max-width:600px)
{
    .i{min-height: 10%;
    min-width: none;}
    
    
    
    img
    { max-width: 100%;
        height: auto; }

.container-fluid,.container-fluid1,.card
{padding: 4px 4px 4px 4px;}

 h1,h2,h4,h5,.mt-2
 {font-size:1.25rem;}

 .id,h3,p
 {font-size:0.85rem;}

 .container-fluid {
   
      height: auto;
 }

}

@media(max-width:768px)
{
    .i{min-height: 10%;
    min-width: none;}
    
    
    
    img
    { max-width: 100%;
        height: auto; }

.container-fluid,.container-fluid1,.card
{padding: 4px 4px 4px 4px;}

 h1,h2,h4,h5
 {font-size:1.25rem;}
 
 .mt{font-size:1.25rem;}
 .id,h3,p
 {font-size:0.85rem;}

 .container-fluid {
   
      height: auto;
 }

}







